<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <h1>yusri FOOD</h1>
    </div>
    <div class="p-5">
        <form action="" method="POST">
            {% csrf_token %}
            <label>Makanan</label>
            <select class="form-select" name="makanan">
                <option selected>Pilih</option>
                <option value="basah">basah</option>
                <option value="kering">kering</option>
                {%for d in dataMakanan%}
                <option value="{{d.id}}">{{d.nama}}</option>
                {%endfor%}
            </select>
            <label>Jumlah</label>
            <input type="text" name="jumlah_makanan" class="form-control">
            <label>Minuman</label>
            <select class="form-select" name="minuman">
                <option selected>Pilih</option>
                {%for d in dataMinuman%}
                <option value="{{d.id}}">{{d.nama}}</option>
                {%endfor%}
            </select>
            <label>Jumlah</label>
            <input type="text" name="jumlah_minuman" class="form-control"><br>
            <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
        <div>
            <table class="table">
                <thead>
                    <th>No</th>
                    <th>Makanan</th>
                    <th>jumlah</th>
                    <th>Harga</th>
                    <th>Minuman</th>
                    <th>Jumlah</th>
                    <th>Harga</th>
                    <th>Aksi</th>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{d.makanan.nama}}</td>
                        <td>{{d.jumlah_makanan}}</td>
                        <td>{{d.makanan.harga}}</td>
                        <td>{{d.minuman.nama}}</td>
                        <td>{{d.jumlah_minuman}}</td>
                        <td>{{d.minuman.harga}}</td>
                        <td>
                            <a href="detail/{{d.id}}" class="btn btn-success">Detail</a>
                            <a href="edit/{{d.id}}" class="btn btn-warning">Edit</a>
                            <a href="hapus/{{d.id}}" class="btn btn-danger">Hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>