<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>kiki food</h1>
        <p>Makan dulu sampe kenyang baru Bayar</p>

    </div>
    <div class="p-5">
        <form action="" method="post">
            {% csrf %}
            <label>jenis</label>
            <select name="form-select" name="jenis">
                <option value="makanan">Makanan</option>
                <option value="minuman">Minuman</option>
            </select>
            <label>Nama</label>
            <input type="text" name="nama" class="form-control">
            <label>Harga</label>
            <input type="text" name="harga" class="form-control"><br>
            <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
     </div>
     <div>
         <table class="table">
             <thead>
                 <th>No</th>
                 <th>Nama</th>
                 <th>Jenis</th>
                 <th>Harga</th>
                 <th>Aksi</th>
             </thead>
             <tbody>
                 {% for d in data %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{d.nama}}</td>
                     <td>{{d.jenis}}</td>
                     <td>{{d.harga}}</td>
                     <td>
                         <a href="detail/{{d.id}}" class="btn btn-success">Detail</a>
                         <a href="edit/{{d.id}}" class="btn btn-warning">Edit</a>
                         <a href="hapus/{{d.id}}" class="btn btn-danger">Hapus</a>
                     </td>
                 </tr>
                 {%endofr%}
             </tbody>
         </table>
     </div>